@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="~/appclient/dist/css/home.css" rel="stylesheet" />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div id="app"></div>
</div><script src="~/appclient/dist/js/chunk-common.js"></script>
<script src="~/appclient/dist/js/npm.vue.js"></script>
<script src="~/appclient/dist/js/home.js"></script>
<script src="~/appclient/dist/js/runtime.js"></script>

@*<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

<script>
    let app = new Vue({
        el: '#app',
        data: {
            message: `Vue in the works!`
        }
    })
</script>*@