@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<link href="~/appclient/dist/css/privacy.css" rel="stylesheet" />
<h1>@ViewData["Title"]</h1>

<div id="privacyapp"></div>

<p>Use this page to detail your site's privacy policy.</p>
<script src="~/appclient/dist/js/chunk-common.js"></script>
<script src="~/appclient/dist/js/npm.vue.js"></script>
<script src="~/appclient/dist/js/privacy.js"></script>
<script src="~/appclient/dist/js/runtime.js"></script>
